<%
  # Only show if budget field is configured and user can view time entries
  budget_cf_id = ptt_budget_custom_field_id

  if budget_cf_id && User.current.allowed_to?(:view_time_entries, @project)
    # Get data using helpers
    ptt_budget = ptt_budget_for_project(@project)

    if ptt_budget && ptt_budget > 0
      ptt_project_issues = ptt_issues_data_for_project(@project)
      ptt_e_total = ptt_project_issues[:estimated]
      ptt_e_closed = ptt_project_issues[:closed_estimated]
      ptt_spent = ptt_time_spent_for_project(@project)

      # Calculate metrics
      ptt_metrics = project_metrics(ptt_budget, ptt_project_issues, ptt_spent)
%>

<div class="mypage-box" id="block-ptt-budget">
  <h3>Бюджет проекта</h3>
  <ul class="dashboard-list">
    <li class="ptt_budget">
      <span class="label">Бюджет (B)</span>: <strong><%= format_metric_hours(ptt_budget) %></strong> ч
    </li>
    <li class="ptt_estimated">
      <span class="label">Оценки (E_total)</span>: <%= format_metric_hours(ptt_e_total) %> ч
    </li>
    <li class="ptt_closed">
      <span class="label">Закрыто (E_closed)</span>: <%= format_metric_hours(ptt_e_closed) %> ч
    </li>
    <li class="ptt_spent">
      <span class="label">Факт (F)</span>: <%= format_metric_hours(ptt_spent) %> ч
    </li>
    <% if ptt_metrics %>
      <li class="ptt_progress" title="<%= h(metric_tooltip(:progress, ptt_metrics)) %>">
        <span class="label">Прогресс</span>: <%= format_metric_percent(ptt_metrics[:progress]) %>
      </li>
      <li class="ptt_spent_pct" title="<%= h(metric_tooltip(:spent, ptt_metrics)) %>"
          style="<%= "background-color: #{metric_color(:spent, ptt_metrics[:spent])};" if metric_color(:spent, ptt_metrics[:spent]) %>">
        <span class="label">Освоение</span>: <%= format_metric_percent(ptt_metrics[:spent]) %>
      </li>
      <% if ptt_metrics[:incomplete] %>
        <li class="ptt_cpi" style="color: #999;">
          <span class="label">CPI</span>: <em>нет данных</em>
        </li>
        <li class="ptt_eac" style="color: #999;">
          <span class="label">EAC</span>: <em>нет данных</em>
        </li>
        <li class="ptt_variance" style="color: #999;">
          <span class="label">Variance</span>: <em>нет данных</em>
        </li>
      <% else %>
        <li class="ptt_cpi" title="<%= h(metric_tooltip(:cpi, ptt_metrics)) %>"
            style="<%= "background-color: #{metric_color(:cpi, ptt_metrics[:cpi])};" if metric_color(:cpi, ptt_metrics[:cpi]) %>">
          <span class="label">CPI</span>: <strong><%= number_with_precision(ptt_metrics[:cpi], precision: 2) %></strong>
        </li>
        <li class="ptt_eac" title="<%= h(metric_tooltip(:eac, ptt_metrics)) %>">
          <span class="label">EAC (прогноз)</span>: <%= format_metric_hours(ptt_metrics[:eac]) %> ч
        </li>
        <li class="ptt_variance" title="<%= h(metric_tooltip(:variance, ptt_metrics)) %>"
            style="<%= "background-color: #{metric_color(:variance, ptt_metrics[:variance])};" if metric_color(:variance, ptt_metrics[:variance]) %>">
          <span class="label">Variance</span>: <%= ptt_metrics[:variance] >= 0 ? '+' : '' %><%= format_metric_hours(ptt_metrics[:variance]) %> ч (<%= format_metric_percent(ptt_metrics[:variance_percent]) %>)
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%
    end
  end
%>
