<%
  # Only show if budget field is configured and user can view time entries
  budget_cf_id = ptt_budget_custom_field_id

  if budget_cf_id && User.current.allowed_to?(:view_time_entries, @project)
    # Get data using helpers
    ptt_budget = ptt_budget_for_project(@project)

    if ptt_budget && ptt_budget > 0
      ptt_project_issues = ptt_issues_data_for_project(@project)
      ptt_e_total = ptt_project_issues[:estimated]
      ptt_e_closed = ptt_project_issues[:closed_estimated]
      ptt_spent = ptt_time_spent_for_project(@project)

      # Calculate metrics
      ptt_metrics = project_metrics(ptt_budget, ptt_project_issues, ptt_spent)
%>

<div class="box">
  <h3 class="icon icon-time">Бюджет проекта</h3>
  <table class="list" style="margin-bottom: 0;">
    <tbody>
      <tr>
        <th style="width: 50%;">Бюджет (B)</th>
        <td style="text-align: right;"><strong><%= format_metric_hours(ptt_budget) %></strong> ч</td>
      </tr>
      <tr>
        <th>Оценки (E_total)</th>
        <td style="text-align: right;"><%= format_metric_hours(ptt_e_total) %> ч</td>
      </tr>
      <tr>
        <th>Закрыто (E_closed)</th>
        <td style="text-align: right;"><%= format_metric_hours(ptt_e_closed) %> ч</td>
      </tr>
      <tr>
        <th>Факт (F)</th>
        <td style="text-align: right;"><%= format_metric_hours(ptt_spent) %> ч</td>
      </tr>
    </tbody>
  </table>

  <% if ptt_metrics %>
    <hr style="margin: 10px 0;">
    <table class="list" style="margin-bottom: 0;">
      <tbody>
        <tr title="<%= h(metric_tooltip(:progress, ptt_metrics)) %>">
          <th style="width: 50%;">Прогресс</th>
          <td style="text-align: right;"><%= format_metric_percent(ptt_metrics[:progress]) %></td>
        </tr>
        <tr title="<%= h(metric_tooltip(:spent, ptt_metrics)) %>"
            style="<%= "background-color: #{metric_color(:spent, ptt_metrics[:spent])};" if metric_color(:spent, ptt_metrics[:spent]) %>">
          <th>Освоение</th>
          <td style="text-align: right;"><%= format_metric_percent(ptt_metrics[:spent]) %></td>
        </tr>
        <tr title="<%= h(metric_tooltip(:cpi, ptt_metrics)) %>"
            style="<%= "background-color: #{metric_color(:cpi, ptt_metrics[:cpi])};" if metric_color(:cpi, ptt_metrics[:cpi]) %>">
          <th>CPI</th>
          <td style="text-align: right;">
            <%= cpi_status(ptt_metrics[:cpi])[:icon] %>
            <strong><%= number_with_precision(ptt_metrics[:cpi], precision: 2) %></strong>
          </td>
        </tr>
        <tr title="<%= h(metric_tooltip(:eac, ptt_metrics)) %>">
          <th>EAC (прогноз)</th>
          <td style="text-align: right;"><%= format_metric_hours(ptt_metrics[:eac]) %> ч</td>
        </tr>
        <tr title="<%= h(metric_tooltip(:variance, ptt_metrics)) %>"
            style="<%= "background-color: #{metric_color(:variance, ptt_metrics[:variance])};" if metric_color(:variance, ptt_metrics[:variance]) %>">
          <th>Variance</th>
          <td style="text-align: right;">
            <%= ptt_metrics[:variance] >= 0 ? '+' : '' %><%= format_metric_hours(ptt_metrics[:variance]) %> ч
            (<%= format_metric_percent(ptt_metrics[:variance_percent]) %>)
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<%
    end
  end
%>
